
.navbar {
    display: flex;
    box-shadow: 0 0 5px cyan;
    color: cyan;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 2.0em;
    font-size: 2em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.faBars-nav {
    display: flex;
    position: relative;
    font-size: 1em;
    margin: 0 1rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}


.faLogo-nav {
    display: flex;
    position: relative;
    font-size: 1em;
    margin: 0 1rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: cyan;

}
.faLogo-nav:hover {
    color: magenta;
}

.faBars-nav:hover {
    color: magenta;
    text-shadow: 0 0 5px cyan;
}


.navbar__links__container {
    border: 1px solid cyan;
    margin-top: 1.3em;
    box-shadow: 0 0 5px cyan;
    overflow: hidden;
    transition: 2. 0.5s ease-in-out;
    position: absolute;
    left: 0%;
    transform: translate(1.15em);
    text-align: center;
}

.navbar__links__container .navbar__links__container__link a {
    color: cyan;
    text-shadow: 0 0 5px cyan;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 0 0 5px cyan;
}

.navbar__links__container .navbar__links__container__link a:hover {
    color: magenta;
    text-shadow: 0 0 5px magenta;
    font-size: 1em;
    /* do app-logo-spin animation */
}

.navbar__login__link {
    display: flex;
    position: absolute;
    font-size: 1em;
    margin: 0 1rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    text-decoration: none;
    color: cyan;
}

.faCircleUser {
    display: flex;
    color: cyan;
    font-size: 1em;
}
.faCircleUser:hover{
    color: magenta;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  